body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffeaba;
    color: #333;
}
    
 a {
    display: inline-block;
    margin: 0 50px;
    text-align: center;
}

h1 , h2 {
    text-align: center;
    margin: 20px;
}

h1 a {
    text-decoration: none;
    color: #4B9CD3;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #4B9CD3;
}

a:hover {
    text-decoration: underline;
    color : #00468b;
}

h1,
h2 {
    color: #222;
}

p {
    line-height: 1.6;
    max-width: 800px;
     text-align: center;
    margin: 10px auto;
}

h1 {
    margin-top: 50px;
}